.link-item {
  background-color: var(--component-background-color);
  border-bottom: 1px solid var(--ion-color-light-shade);

  .link-item-header {
    display: flex;
    justify-content: space-between;

    height: 50px;

    ion-item {
      --ion-item-background: var(--component-background-color);
      ion-label {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    ion-buttons {
      height: 50px;
    }
  }

  .link-item-settings {
    padding: 10px;
  }
}
