.link-item {
  min-height: 38px;
  color: var(--component-color);
  background-color: var(--component-background-color);

  border-bottom: 2.4px solid var(--component-background-color-hover);

  .link-item-header {
    height: 38px;
    display: flex;
    justify-content: space-between;

    ion-item {
      --ion-item-background: transparent;
      ion-label {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: var(--component-color);
        margin-top: 0px;
      }
    }

    ion-item::has(#parent:hover):hover {
      --ion-item-background: var(--component-background-color-hover);
    }

    ion-buttons {
      height: 38px;
    }
  }

  .link-item-settings {
    color: var(--component-color);
    // Remove the fixed padding since it's now handled by the animation
    // The animation will handle padding transitions
    box-sizing: border-box;
    overflow: hidden;
  }
}

.link-item:hover {
  background-color: var(--component-background-color-hover);
}
