<div class="link-item" [ngxTooltip]="Link().Description" placement="right-end" arrow [tooltipDisabled]="IsInteractive()">
  <div class="link-item-header">
    @if(Link() === undefined) {
    <ion-item slot="header" color="secondary">
      <ion-label (dblclick)="TrashClick($event)"> [Deleted Link] </ion-label>
    </ion-item>

    }@else {
    <ion-item slot="header" lines="none">
      <ion-label (dblclick)="TrashClick($event)">{{ Link().Name }}</ion-label>
    </ion-item>

    @if(IsInteractive()) {
    <ion-buttons>
      @if(Link().HasSettings) {
      <ion-button (click)="ToggleSettings($event)">
        @if(this.Link().ShowSettings()) {
        <ion-icon slot="icon-only" name="chevron-up-sharp"></ion-icon>
        }@else{
        <ion-icon slot="icon-only" name="chevron-down-sharp"></ion-icon>
        }
      </ion-button>
      }
      <ion-button (click)="ToggleLinkActive($event)">
        @if(Link().Disabled()) {
        <ion-icon slot="icon-only" name="eye-off-sharp" color="danger"></ion-icon>
        }@else{
        <ion-icon slot="icon-only" name="eye-sharp"></ion-icon>
        }
      </ion-button>
      <ion-button (click)="TrashClick($event)">
        <ion-icon slot="icon-only" name="trash-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    } }
  </div>
  @if(IsInteractive() && Link().HasSettings && Link().ShowSettings()) {
  <div class="link-item-settings">
    <formly-form [model]="model" [fields]="fields()" [options]="options"></formly-form>
  </div>
  }
</div>
