.link-item {
  background-color: var(--component-background-color);
  border-bottom: 1px solid var(--ion-color-light-shade);

  .link-item-header {
    display: flex;
    justify-content: space-between;

    height: 40px;
    h4 {
      margin: 0px;
      padding: 10px;
    }

    ion-buttons {
      height: 40px;
    }
  }
}
