.tooltip-container {
  padding: 16px;
  padding-bottom: 8px;
  background-color: var(--ion-color-primary-contrast);
  border: 1px solid var(--ion-color-light-shade);

  min-width: 50px;
  max-width: 500px;
}
