<div id="app-panels">
  <as-split direction="horizontal" [gutterSize]="3">
    <as-split-area [size]="20" [minSize]="15" class="hide-overflow">
      <div class="panel-header">
        <h3>Operators</h3>
      </div>

      <div
        id="links-panel"
        cdkDropList
        #linksList="cdkDropList"
        [cdkDropListData]="Links"
        [cdkDropListConnectedTo]="[chainList]"
        [cdkDropListSortingDisabled]="true"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="link-search">
          <ion-searchbar placeholder="Search..." [(ngModel)]="LinkSearchString"></ion-searchbar>

          @for (link of SearchResult(); track $index) {
          <app-link-item
            cdkDrag
            [cdkDragData]="link"
            class="no-text-select"
            [Link]="link"
            (dblclick)="OnLinkItemDoubleClick($event, link)"
          ></app-link-item>
          }
        </div>
        @for (category of LinkCategories(); track $index) {
        <ion-accordion-group [value]="category">
          <ion-accordion [value]="CategoriesDefaultState.get(category) ? category : false">
            <ion-item slot="header" color="secondary" lines="none">
              <ion-label>{{category}}</ion-label>
            </ion-item>
            <div class="" slot="content">
              @for (link of LinksByCategory().get(category); track $index) {
              <app-link-item
                cdkDrag
                [cdkDragData]="link"
                class="no-text-select"
                [Link]="link"
                (dblclick)="OnLinkItemDoubleClick($event, link)"
              ></app-link-item>
              }
            </div>
          </ion-accordion>
        </ion-accordion-group>

        }
      </div>
    </as-split-area>

    <as-split-area [size]="30" [minSize]="15" class="hide-overflow">
      <div class="panel-header">
        <h3>Chain</h3>

        <ion-buttons>
          <ion-button (click)="RunSilverLinkChain()" title="Run">
            <ion-icon slot="icon-only" name="send-sharp"></ion-icon>
          </ion-button>
          <ion-button (click)="ToggleShowHideAllLinkSettings()" title="Show/Hide all Settings">
            @if(AllChainLinksSettingsShow()) {
            <ion-icon slot="icon-only" name="chevron-up-sharp"></ion-icon>
            }@else{
            <ion-icon slot="icon-only" name="chevron-down-sharp"></ion-icon>
            }
          </ion-button>
          <ion-button (click)="EmptyLinkChain()" title="Remove all Operators">
            <ion-icon slot="icon-only" name="trash-sharp"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
      <div
        id="chain-panel"
        cdkDropList
        #chainList="cdkDropList"
        [cdkDropListData]="LinkChain()"
        [cdkDropListConnectedTo]="[linksList]"
        (cdkDropListDropped)="drop($event)"
      >
        @for(link of LinkChain(); track $index) {
        <app-link-item
          cdkDrag
          [cdkDragData]="link"
          class="no-text-select"
          [Link]="link"
          [IsInteractive]="true"
          (TrashLink)="OnChainLinkTrash(link)"
          (TriggerLinkchain)="RunSilverLinkChain()"
        ></app-link-item>
        }
      </div>
    </as-split-area>

    <as-split-area [size]="50" [minSize]="15">
      <div id="io-panel">
        <as-split direction="vertical" [gutterSize]="3">
          <as-split-area [size]="40" [minSize]="15" class="hide-overflow">
            <div id="input-panel">
              <app-input-panel (UserInput)="OnUserInput($event)" [InputText]="InputValue()"></app-input-panel>
            </div>
          </as-split-area>

          <as-split-area [size]="60" [minSize]="15" class="hide-overflow">
            <div id="output-panel">
              <app-output-panel [SilverChainOutput]="SilverChainOutput()" (CopyOutputToInputSignal)="CopyOutputToInput($event)"></app-output-panel>
            </div>
          </as-split-area>
        </as-split>
      </div>
    </as-split-area>
  </as-split>
</div>
