<div id="app-panels">
  <as-split direction="horizontal" [gutterSize]="2">
    <as-split-area [size]="20" [minSize]="15">
      <div id="links-panel"></div>
    </as-split-area>
    <as-split-area [size]="40" [minSize]="40">
      <div id="chain-panel"></div>
    </as-split-area>
    <as-split-area [size]="40" [minSize]="15">
      <div id="io-panel">
        <as-split direction="vertical" [gutterSize]="2">
          <as-split-area [size]="50" [minSize]="15">
            <div id="input-panel"></div>
          </as-split-area>
          <as-split-area [size]="50" [minSize]="15">
            <div id="output-panel"></div>
          </as-split-area>
        </as-split>
      </div>
    </as-split-area>
  </as-split>
</div>
