#app-panels {
  height: 100%;
  width: 100%;

  .panel-header {
    height: 50px;
    background-color: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);

    display: flex;
    justify-content: space-between;

    h3 {
      margin: 0px;
      padding: 10px;
      padding-left: 16px;
    }

    ion-buttons {
      height: 50px;
    }
  }

  .link-search {
    // height: 50px;
    background: var(--ion-color-secondary);

    margin-bottom: 1.5px;

    ion-searchbar {
      border-bottom: 3px solid var(--ion-color-primary-contrast);
      padding: 0px;
      --box-shadow: unset;
      margin: auto;
      height: 40px;

      --border-radius: 0px;

      --background: var(--ion-color-secondary);
      --color: var(--ion-color-primary-contrast);
      --icon-color: var(--ion-color-primary-contrast);
    }
  }

  #links-panel {
    width: 100%;

    height: calc(100% - 50px);
    overflow: auto;
    scrollbar-width: thin;

    ion-accordion-group {
      ion-accordion {
        ion-item {
          ion-label {
            margin-top: 0px;
          }

          height: 40px;
          border-bottom: 2px solid var(--ion-color-primary-contrast);
        }
      }
    }
  }

  #chain-panel {
    width: 100%;

    height: calc(100% - 50px);
    overflow: auto;
    scrollbar-width: thin;
  }

  #io-panel {
    height: 100%;
    width: 100%;

    #input-panel {
      width: 100%;
      height: 100%;
    }

    #output-panel {
      width: 100%;
      height: 100%;
    }
  }
}

.no-text-select {
  user-select: none;
}

.hide-overflow {
  overflow: hidden;
}
